body{
    background-color: white;
    background-image: linear-gradient( #468ed6, #326da8,#24588b, #326da8, #498fd4);
}

.main_container{
    background-color: #9ccdfd;
    background-image: linear-gradient(#ff4b1e,#ff5e00,#ff9900);
    position: relative;
    margin-top: 10%;
    height: 60%;
    border: 0.5px solid black;
    width: 45%;
    border-radius: 15px;
    padding-bottom: 15px;
}

.container{
    position: relative;
    /*left: ;*/
    margin-top: 5%;
}

button{
    position: relative;
    /*margin-top: 10px;*/
    left: -10px;
    background-color: rgb(103, 252, 4);
    width: 20%;
    border: 1px solid goldenrod;
    border-radius: 8px;
    width: 20%;
    height: 15%;
    padding: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    bottom: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover/*, button:focus*/ {
    background-color: rgb(39, 172, 5);
 }

.link{
    position: relative;
    /*float: left;*/
    left: 5%;
    margin-top: 95px;
}

.link button{
    width: 20%;
    height: 15%;
    padding: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    bottom: 8px;
}

tr{
    height: 40px;
}

.txt{
    width: 150px;
}

.input{
    width: 200px;
}

.ipt_bx{
    width: 100%;
}

.colon{
    width: 25px;
}